@font-face {
  font-family: 'Melinda';
  src: url('../fonts/Melinda.ttf') format('truetype');
}

@font-face {
  font-family: 'Basic';
  src: url('../fonts/OpenSansLight.ttf') format('truetype');
}

:root {
  --light-green-color:#e7f5ee;
  --green-color:#7aa98f;
  --yellow-color:#e5a800;
  --orange-color:#ff996f;
  --dark-color:#01240b;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: Basic !important;
  font-size: 20px !important;
}

footer {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-align: center !important;
}

h1 {
  text-align: center !important;
  font-family: Melinda !important;
  font-size: 65px !important;
  margin: 0px !important;
  color: var(--dark-color) !important;
  clear: both !important;
}

h2 {
  text-align: center !important;
  font-size: 32px !important;
  font-weight: bold !important;
}

h3 {
  text-align: center !important;
  font-size: 28px !important;
  padding: 10px !important;
  margin: 0px !important;
}

h4 {
  text-align: center !important;
  font-size: 20px !important;
  margin-top: -5px !important;
}

a {
  color: var(--yellow-color) !important;
  text-decoration: none !important;
  font-weight: bold !important;
  word-wrap: break-word !important;
}

a:hover {
  color: #ad7f00 !important;
}

.clear {
  clear: both !important;
}

.floatting {
  color: var(--yellow-color);
  font-size: 30px;
  font-weight: bold;
  word-wrap: break-word;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  margin-right: 50px;
  margin-bottom: 0;
  margin-top: 30px;
  border-radius: 40px;
  border: var(--yellow-color) solid 2px;
  background-color: #ffffff00;
}

button:focus {
  outline: none !important;
}

button:hover {
  background-color: #f7f1df !important;
}

.bubbles {
  position: relative;
}

.bubble1 {
  position: absolute !important;
  z-index: -1 !important;
}

.bubble2 {
  position: absolute !important;
  z-index: -1 !important;
  right: 0 !important;
  top: 400px !important;
  height: 750px !important;
}

.bubble3 {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  opacity: 0.15;
}

.bubble4 {
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  opacity: 0.15;
}

.illustration img {
  height: 530px;
  display: block;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
}

.playstore {
  background-color: #d9f2ff !important;
}

.linkedin {
  background-color: #e5a80020 !important;
}

.github {
  background-color: #ff996f20 !important;
}

.email {
  background-color: #7aa98f20 !important;
}

.social-logo img {
  width: 45px !important;
  height: 45px !important;
  margin: 20px !important;
}

.social {
  border-radius: 30px !important;
}

.test {
  width: 45px;
  height: 45px;
  margin: 20px !important;
}

.green {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--light-green-color);
}

.white {
  background: #fff;
}

.work {
  position: relative;
  line-height: normal;
  background-image: url(../img/study_banner.png);
  background-size: 100% 100%;
  color: white;
  text-align: center;
}
.work a{
  color: #fff !important;
  text-decoration: none !important;
  font-weight: bold !important;
  word-wrap: break-word !important;
}
.work a:hover {
  color: #47594b !important;
}

.app {
  border-radius: 30px;
  background-color: #b4cfc5;
}

.app img {
  max-width: 100%;
  height: auto;
  border-radius: 30px 30px 0px 0px;
}

.googleplaybtn {
  width: 220px;
  margin: auto;
  display: block;
}

.colorblindimg{
  margin: auto;
  display: block;
  max-width: 60%;
  height: auto;
}

.privacy_policy {
  margin-left: 100px;
  margin-right: 100px;
}

.colorblind a{
  color: var(--dark-color) !important;
  text-decoration: none !important;
  font-weight: bold !important;
  word-wrap: break-word !important;
}
.colorblind a:hover {
  color: #7aa98f !important;
}
